.card-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dashboard{
    max-width: 900px;
    margin: auto;
}
.dashboard-title{
    color: #726f6e;
    margin-top: 0px;
    padding-top: 15px;
}

@media only screen and (max-width: 720px) {
    .dashboard-title{
        text-align: center;
    }
  }