.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.dashboard-title {
  color: #726f6e;
  margin-top: 0px;
  padding-top: 15px;
  text-align: center;
}
.expired-h1 {
  color: #726f6e;
  text-align: center;
}

@media only screen and (min-width: 780px) {
  .dashboard-title {
    text-align: left;
  }
  .expired-h1 {
    text-align: left;
  }
  .card-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
