tbody:nth-child(even) {
  background-color: rgb(238, 237, 237);
}
td {
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
.table-div {
  max-height: 300px;
  overflow: auto;
  border: 1px solid black;
}
table {
  width: 100%;
}
th {
  position: sticky;
  top: 0;
  background-color: #0067b9;
  color: white;
  border: 1px solid black;
  padding: 0;
  margin-top: 0px;
  font-size: 13px;
  height: auto;
}

@media only screen and (min-width: 780px) {
  td {
    padding: 5px;
    font-size: 1rem;
  }
  th {
    font-size: 1rem;
    height: 30px;
  }
  .table-div {
    max-height: 500px;
  }
}
