.dashboard-card {
  background-color: #0067b9;
  padding: 10px;
  width: 60%;
  margin: 5px;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(220, 220, 220);
}
.card-title {
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 1.2rem;
}
.card-stats {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: auto;
  justify-content: center;
}
@media only screen and (min-width: 780px) {
  .dashboard-card {
    width: 25%;
    margin: 0;
  }
}
