.header {
  position: sticky;
  width: 100%;
  height: 80px;
  z-index: 1;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0  0 15px rgb(220,220,220);

}
.header-title{
  color: #726f6e;
  max-width: 400px;
  margin-right: 10%;
  padding: 0;
}
.vaccine {
  width: auto;
  max-height: 80px;
  margin-left: 50px;
}

@media only screen and (max-width: 720px) {
  .vaccine{
    margin: 0;
  }
  .header-title{
    margin: 0;
    font-size: 1.5rem;
    margin: auto; 
  }
}