.probe-form {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  background-color: white;
  padding: 20px;
  margin: auto;
  padding-right: 0px;
  max-width: 900px;
  box-shadow:0 0 15px rgb(220 220 220);
}
.probe-label {
  font-weight: bold;
  font-size: 17px;  
}
.legend-form {
  margin: auto;
  max-width:900px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 2rem;
  color: #726f6e;
  padding: 0px;
}
.input-form {
  width: 250px;
  height: 30px;
  padding: 0px;
}
.button-form {
  background-color: #0066b9c9;
  border: 1px solid #0077cc;
  border-radius: 10px;
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 400;
  height: 52px;
  justify-content: center;
  padding: 4px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 200px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  max-width: 900px;
  margin: auto;
}
.button-form:hover {
  background-color: #0067b9;
  border-color: #1482d0;
}
.submit-error {
  color: red;
  font-weight: 800;
  display: inline-block;
}
.submit-success {
  color: green;
  font-weight: 800;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .probe-form{
    display: flex;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
  }
  .input-form{
    width: 90%;
  }
  .probe-label{
    width: 90%;
    text-align: center;
  }
}