.probe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 0 0 15px rgb(220 220 220);
}
.probe-label {
  font-weight: bold;
  font-size: 17px;
  width: 90%;
  text-align: center;
  padding: 5px;
}
.legend-form {
  margin: auto;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 2rem;
  color: #726f6e;
  padding-top: 15px;
  text-align: center;
}
.input-form {
  width: 90%;
  height: 30px;
}
.button-form {
  background-color: #0066b9c9;
  border: 1px solid #0077cc;
  border-radius: 10px;
  color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 400;
  height: 52px;
  justify-content: center;
  padding: 4px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  min-width: 103px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.button-form:hover {
  background-color: #0067b9;
  border-color: #1482d0;
}
.submit-error {
  color: red;
  font-weight: 800;
  display: inline-block;
  margin: auto;
}
.submit-success {
  color: green;
  font-weight: 800;
  display: inline-block;
  margin: auto;
}

@media only screen and (min-width: 780px) {
  .probe-form {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
  }
  .input-form {
    width: 250px;
  }
  .probe-label {
    width: 100%;
    text-align: left;
  }
  .legend-form {
    text-align: left;
    max-width: 900px;
  }
  .button-container {
    max-width: 900px;
    margin: auto;
  }
}
