html,
body {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: lightgrey;
  margin: auto;
  max-width: 830px;
  margin-left: min(50%, 220px);
  min-height: 800px;
}
.hidden {
  display: none;
}
.main {
  /* height: 100%; */
  /* margin-bottom: 150px; */
}
#root {
  background-color: blue;
}
