html,
body {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: lightgrey;
  margin-left: 100px;
}

.main {
  margin-left: 200px;
}
.hidden {
  display: none;
}
