html{
    height: 100%;
    display: block;
    background-color: #5a5a5a2a;
    /* max-width: 1140px; */
    margin-left: auto;
    margin-right: auto;
}

.App{
    margin-top: 35px;
}

.main{
    margin-left: 200px;
}
